main {
  align-content: center;
  box-sizing: border-box;
  display: grid;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  /* max-width: 680px; */
  min-height: 100vh;
  padding: 72px 0;
  text-align: center;
  width: 100%;
}

ImageThumb {
  /* max-width: 680px; */
  min-width: 50%;
}

h1 {
  font-size: 45px;
}
h2 {
  margin-top: 1.5em;
}
p {
  font-size: 16px;
}
a {
  border-bottom: 1px solid #0076ff;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  border-bottom: 1px solid #0076ff;
}

.marginTop {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  /* padding: 72px 72px; */
}

label {
  /* background-color: indigo; */
  /* color: white; */
  color: #d400ff;
  padding: 0.5rem;
  font-family: "Menlo";
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 0.92em;
}

input {
  color: #d400ff;
  font-family: "Menlo";
}

.userButton {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-color: #e4e4e4;
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 4px;
  /* border-color: black; */
  /* background: none; */
  cursor: pointer;
}

code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: "\`";
}

code2,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}

codeUnderline,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
  /* text-decoration: underline; */
}
